---
import { GitHub } from "../../utils/technologies.astro";

import type { Project } from "../../data/projects";

interface Props {
  project: Project;
  isEn: boolean;
}

const {
  project: {
    title,
    subtitle,
    type,
    description,
    image,
    technologies,
    link,
    source,
  },
  isEn,
} = Astro.props;

interface ProjectType {
  text: string;
  color: string;
  bg: string;
}

let projectType: Partial<ProjectType> = {};

const commercialText = isEn ? "Commercial project" : "Projekt komercyjny";
const personalText = isEn ? "Personal project" : "Projekt personalny";
const courseText = isEn ? "Course project" : "Projekt w ramach kursu";
const sourceText = isEn ? "Source code" : "Kod źródłowy";
const visitText = isEn ? "Visit website" : "Odwiedź stronę";

if (type === "commercial")
  projectType = {
    text: commercialText,
    color: "var(--gray-3)",
    bg: "var(--gray-12)",
  } as ProjectType;

if (type === "personal")
  projectType = {
    text: personalText,
    color: "var(--gray-4)",
    bg: "var(--gray-12)",
  } as ProjectType;

if (type === "course")
  projectType = {
    text: courseText,
    color: "var(--gray-5)",
    bg: "var(--gray-12)",
  } as ProjectType;
---

<li class="project">
  <div class="description">
    <hgroup>
      <p class="project__type" style={{ color: projectType.color }}>
        {projectType.text}
      </p>
      <h4 class="title">{title}</h4>
      <p class="subtitle">{subtitle}</p>
    </hgroup>
    <p>{description}</p>
  </div>
  <div class="bg"></div>
  <div class="buttons">
    <a
      href={link.url}
      hreflang={link.lang}
      class="button"
      style={{ backgroundColor: link.icon.bg, color: link.icon.color }}
      ><link.icon.icon
        size="var(--icon-size)"
        className="button__icon"
        title={link.icon.name}
      />{visitText}</a
    >
    <a
      href={source}
      class="button"
      style={{ backgroundColor: GitHub.bg, color: GitHub.color }}
      ><GitHub.icon
        size="var(--icon-size)"
        className="button__icon"
        title="GitHub"
      />{sourceText}</a
    >
  </div>
  <div class="tablet">
    <div class="tablet__screen">
      <img src={image.full} class="project__img" />
    </div>
  </div>
  <ul class="tech">
    {
      technologies.map((tech) => (
        <li style={{ backgroundColor: tech.bg, color: tech.color }}>
          <tech.icon
            size="var(--icon-size)"
            className="tech__icon"
            title={tech.name}
          />
          {tech.name}
        </li>
      ))
    }
  </ul>
  <div class="phone">
    <div class="phone__speaker"></div>
    <div class="phone__screen">
      <img src={image.mobile} class="project__img-mobile" />
    </div>
    <div class="phone__button"></div>
  </div>
</li>

<style>
  .project {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: min-content min-content min-content 1fr;
  }

  .title {
    font-size: var(--font-5);
  }

  .subtitle {
    margin-bottom: var(--space-16);
    font-size: var(--font-base);
    font-style: italic;
  }

  .project__type {
    font-size: var(--font-xs);
    display: inline-block;
    text-transform: uppercase;
    border-radius: var(--radius-small);
  }

  .phone {
    grid-column: 11 / 15;
    grid-row: 1 / -1;
    align-self: start;

    background-color: var(--gray-15);

    --border: var(--space-4);
    border: 1px solid var(--gray-11);
    border-radius: var(--radius-default);
    padding: var(--border);
    margin-top: var(--space-64);
    box-shadow: var(--shadow-default);
  }

  .phone__screen {
    overflow: hidden;
    border-radius: calc(var(--radius-default) - var(--border));
  }

  .project__img-mobile {
    width: 100%;
  }

  .tablet__screen {
    border-radius: var(--radius-default);
    overflow: hidden;
  }

  .tablet {
    grid-column: 1 / 14;
    grid-row: 1 / 2;
  }

  .project__img {
    width: 100%;
  }

  .tech {
    --icon-size: 2.5ex;
    align-self: start;
    grid-column: 1 / 11;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);
    margin-top: var(--space-16);
  }

  .tech li {
    border-radius: var(--radius-xs);
    display: flex;
    justify-content: center;
    font-size: var(--font-small);
    align-items: center;
    gap: var(--space-8);
    font-family: var(--font-sans);
    padding: 1ex 1.4ex;
    font-weight: var(--font-medium);
  }

  .tech__icon {
    color: currentColor;
  }

  .description {
    grid-column: 2 / 13;
    grid-row: 3 / 4;
    padding: var(--space-32);
  }

  .bg {
    grid-column: 2 / 13;
    grid-row: 2 / -1;
    background: linear-gradient(
      to top left,
      transparent,
      var(--gray-14),
      transparent
    );
    border-bottom-right-radius: var(--radius-small);
    border-bottom-left-radius: var(--radius-small);
    z-index: -1;
  }

  .buttons {
    grid-column: 2 / 13;
    margin-top: var(--space-16);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-8);
  }

  .button {
    background-color: var(--gray-13);
    justify-self: start;
    font-family: var(--font-sans);
    font-weight: var(--font-medium);
    font-size: var(--font-small);
  }
</style>
