---
import type { TrackType } from "@data/tracklist";
import { SoundCloud } from "@utils/technologies.astro";
import type { LanguageSelectionType } from "@utils/types";
import { HourglassHigh } from "phosphor-react";
import { Picture } from "@astrojs/image/components";

interface Props {
  lang: LanguageSelectionType;
  track: TrackType;
  index: number;
}

const { track, lang, index } = Astro.props;
---

<li class="track">
  <h3 class="heading">
    {index === 0 && lang === "pl" ? "Wybrane utwory" : <>{track.name}</>}
  </h3>

  <div class="image-container">
    <Picture
      src={`/img/covers/${track.name.toLowerCase().split(" ")[0]}.jpg`}
      alt={`${track.name} ${lang === "en" ? "Cover Photo" : "- Okładka"}`}
      sizes="250px"
      widths={[500, 250]}
      formats={["webp"]}
      aspectRatio="1:1"
      loading="lazy"
      decoding="async"
      class="image"
    />
  </div>
  <p class="info">
    <span class="genre"
      >{index === 0 && lang === "pl" ? "Różne" : <>{track.genre}</>}</span
    >
    <span class="length">
      <HourglassHigh weight="duotone" size="1.8ex" className="icon" />
      {track.length}
    </span>
  </p>

  <div class="button-container">
    <a href={track.url} hreflang="en" class="button"
      ><span class="button__text">SoundCloud</span>
      <span class="button__icon-container">
        <span class="button__icon-fill">
          <SoundCloud.icon size="65%" className="button__icon" title="GitHub" />
        </span>
      </span></a
    >
  </div>
</li>

<style>
  .track {
    padding: var(--space-32);
    padding-bottom: 0;
    background: var(--c3medium);
    border-radius: var(--radius-default);
    color: var(--white);
    box-shadow: var(--shadow-button-strong);
  }

  .track:first-of-type {
    box-shadow: var(--shadow-button-strong), 0 0 0 var(--space-12) var(--c11);
    background: var(--c11dark);
  }
  .track:first-of-type .genre {
    border-color: var(--c11);
  }

  .image-container {
    border-radius: var(--radius-small);
    padding: var(--space-8);
    background: var(--white);
  }

  .image {
    width: 100%;
    border-radius: var(--radius-xs);
    aspect-ratio: 1 / 1;
  }

  .heading {
    font-size: var(--font-6);
    margin-bottom: var(--space-16);
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-16);
    margin-bottom: var(--space-12);
  }

  .genre {
    border-radius: var(--radius-xs);
    color: var(--white);
    font-weight: 500;
    font-size: var(--font-xs);
    padding: var(--space-4) var(--space-8);
    border: var(--border-width) solid var(--c1);
  }

  .length {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }

  .button-container {
    transform: translateY(50%);
    display: flex;
  }

  .button {
    font-size: var(--font-small);
    float: left;
    color: var(--c3);
    box-shadow: var(--shadow-button),
      0 0 0.1rem 0.1rem rgb(var(--blackRGB) / 0.1);
  }

  .button__icon-container {
    background: var(--c3);
  }

  @media only screen and (max-width: 85.5em /* 1368px */) {
    .heading {
      font-size: var(--font-large);
    }
  }

  @media only screen and (max-width: 62.5em /* 1000px */) {
    .heading {
      letter-spacing: 0;
    }
  }
</style>
