---
import type { CourseType } from "@data/courses.astro";
import type { LanguageSelectionType } from "@utils/types";
import { CaretRight, ChalkboardTeacher, HourglassHigh } from "phosphor-react";

interface Props {
  course: CourseType;
  lang: LanguageSelectionType;
}

const { course, lang } = Astro.props;
---

<li class="item ignore-grid">
  <div class="line"></div>
  <p class="year"><time datetime={course.year}>{course.year}</time></p>
  <p class="title" lang="en">
    <course.platform.icon.icon
      size="100%"
      className="icon"
      title={course.platform.name}
    />
    {course.title}
  </p>
  <p class="techs">
    {
      course.tech.map((tech) => (
        <tech.icon size="100%" title={tech.name} className="icon" />
      ))
    }
  </p>
  <p class="author">
    <ChalkboardTeacher
      size="100%"
      className="icon"
      alt={lang === "en" ? "Author" : "Autor"}
    />
    <span>{course.author}</span>
  </p>
  <p class="length">
    <HourglassHigh
      size="100%"
      weight="duotone"
      className="icon"
      alt={lang === "en" ? "Length" : "Czas trwania"}
    />
    {lang === "en" && <>{course.length} hours</>}
    {
      lang === "pl" && (
        <>
          {String(course.length).replace(".", ",")}{" "}
          {course.length === 42 ? "godziny" : "godzin"}
        </>
      )
    }
  </p>
  <p class="link">
    <a
      href={course.url}
      hreflang="en"
      aria-label={lang === "en"
        ? "See this course on Udemy"
        : "Zobacz ten kurs na Udemy"}
      ><CaretRight size="100%" weight="regular" className="icon" />
      <CaretRight size="100%" weight="fill" className="icon-hidden" /></a
    >
  </p>
</li>

<style>
  .line {
    grid-column: 1 / -1;
    background: var(--c7dark);
    width: calc(100% - var(--side-padding) * 2);
    height: var(--border-width);
    margin: 0 var(--side-padding);
  }

  li:first-of-type .line {
    display: none;
  }

  li:hover p {
    background: var(--white);
  }
  li:hover .link :where(.icon, .icon-hidden) {
    color: var(--white);
  }
  li:hover .link .icon-hidden {
    transform: translateX(40%);
    opacity: 1;
  }
  li:hover .link .icon {
    opacity: 0;
    transform: translateX(40%);
  }
  li:hover .link {
    background: var(--c6);
  }

  p {
    margin: 0;
    padding: var(--space-32) var(--space-32);
    padding-right: var(--space-32);
    display: flex;
    align-items: center;
    gap: var(--space-8);
    color: var(--c8dark);
    transition: background 0.2s, color 0.2s, border-radius 0.2s;
  }
  p:first-of-type {
    padding-left: var(--side-padding);
    border-top-left-radius: var(--radius-default);
    border-bottom-left-radius: var(--radius-default);
  }
  p:last-of-type {
    padding-right: calc(var(--side-padding) / 2);
    border-top-right-radius: var(--radius-default);
    border-bottom-right-radius: var(--radius-default);
  }
  li:last-of-type p {
    border: none;
  }

  .icon,
  .icon-hidden {
    color: var(--c6dark);
    transition: color 0.2s;
    width: 3.2rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
  }

  .year {
    font-weight: 600;
    padding-right: 0;
    padding-left: var(--space-24);
  }

  .title {
    padding-right: var(--space-24);
    font-weight: 600;
    color: var(--c6medium);
  }
  .title .icon {
    width: 2.4rem;
  }

  .techs {
    gap: var(--space-12);
  }

  .author {
    gap: var(--space-8);
  }
  .author .icon {
    color: var(--c8);
    width: 3rem;
  }

  .length .icon {
    color: var(--c8);
    width: 2.4rem;
  }

  .link {
    padding: 0;
    line-height: 0;
    transition: background 0.2s;
  }
  .link a {
    padding: var(--space-24);
    padding-right: var(--side-padding);
    position: relative;
    display: grid;
  }
  .link .icon,
  .link .icon-hidden {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: color 0.2s, opacity 0.2s, transform 0.5s;
  }
  .link .icon-hidden {
    opacity: 0;
  }

  @media only screen and (max-width: 98.5em /* 1576px */) {
    p {
      padding-right: var(--space-12);
    }
  }

  @media only screen and (max-width: 56em /* 896px */) {
    .title {
      padding-right: var(--space-12);
    }

    p {
      margin: 0;
      padding: var(--space-24) var(--space-24);
      padding-right: var(--space-16);
    }

    .link a {
      padding-left: var(--space-12);
    }
  }

  @media only screen and (max-width: 45.5em /* 728px */) {
    li.item {
      display: grid;
      box-shadow: var(--shadow-button-strong);
      border-radius: var(--radius-default);
      overflow: hidden;
      position: relative;
      background: var(--white);
    }

    .line {
      display: none;
    }

    p {
      margin: 0;
      padding: var(--space-12) var(--space-32);
      gap: 0;
    }

    p:first-of-type {
      border-radius: 0;
    }
    p:last-of-type {
      border-radius: 0;
    }

    .icon,
    .icon-hidden {
      color: var(--c6dark);
      transition: color 0.2s;
      width: 3.2rem;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
    }

    p:is(.year) {
      padding: var(--space-8) var(--space-32);
      padding-top: var(--space-32);
      font-size: var(--font-large);
    }

    p.title {
      font-size: var(--font-large);
      padding: var(--space-8) var(--space-32);
    }

    p.title .icon {
      display: none;
    }

    p.author {
      padding-top: var(--space-24);
    }

    p.length {
      gap: var(--space-8);
      padding-top: 0;
      padding-bottom: var(--space-32);
    }

    .link :where(.icon, .icon-hidden) {
      color: var(--white);
    }

    .link .icon-hidden {
      opacity: 1;
    }

    .link .icon {
      opacity: 0;
    }

    p.link {
      background: var(--c6);
      align-self: end;
    }

    p.link a {
      width: 100%;
      justify-items: end;
      padding: var(--space-16) var(--space-32);
      padding-right: var(--space-12);
    }
  }
</style>
