---
import type { Language } from "../../utils/types";
import { skills } from "../../data/skills.astro";
import SkillList from "./SkillList.astro";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
const isEn = lang === "en";

const headingAdvanced = isEn ? "Advanced" : "Poziom zaawansowany";
const headingGood = isEn ? "Good" : "Poziom średniozaawansowany";
const headingBasic = isEn ? "Basic" : "Poziom podstawowy";
const headingOther = isEn ? "Tools" : "Narzędzia";

const bgAdvanced = "linear-gradient(to right, var(--gray-14), transparent)";
const bgGood = "linear-gradient(to right, var(--gray-13), transparent)";
const bgBasic = "linear-gradient(to right, var(--gray-12), transparent)";
const bgOther = "linear-gradient(to right, var(--gray-14), transparent)";
---

<div class="skills-container mid-col">
  <SkillList
    skills={skills.advanced}
    size="large"
    gridRow="1 / 2"
    bg={bgAdvanced}>
    {headingAdvanced}
  </SkillList>

  <SkillList skills={skills.good} size="medium" gridRow="2 / 3" bg={bgGood}>
    {headingGood}
  </SkillList>

  <SkillList skills={skills.basic} size="small" gridRow="3 / 4" bg={bgBasic}>
    {headingBasic}
  </SkillList>

  <SkillList skills={skills.other} size="small" gridRow="4 / 5" bg={bgOther}>
    {headingOther}
  </SkillList>
</div>

<style>
  .skills-container {
    padding: 0 var(--side-padding);
    display: grid;
    grid-template-columns: 2fr 6fr;
  }
</style>
