---
import type { Link, Project, Caption, Language } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import HeroTitle from "../components/HeroTitle.astro";
import HeroFigures from "../components/HeroFigures.astro";
import SectionHeader from "../components/SectionHeader.astro";
import MyProjects from "../components/projects/MyProjects.astro";
// import Intersection from "../components/Intersection.astro";

import * as tech from "../utils/technologies.astro";

const language: Language = "pl";
const ageInYears = getAge();

const anchorLinks: Link[] = [
  { text: "Projekty", url: "#projekty" },
  { text: "Technologie", url: "#technologie" },
  { text: "Kursy", url: "#kursy" },
  { text: "Wykształcenie", url: "#wyksztalcenie" },
  { text: "Badania naukowe", url: "#badania" },
  { text: "Muzyka", url: "#muzyka" },
];

const figcaptions: Caption[] = [
  { title: "Programista frontendu", subtitle: "Na co dzień" },
  { title: "Psycholog", subtitle: "Z wykształcenia" },
  { title: "Trener personalny", subtitle: "Wieczorami" },
  { title: "Producent muzyczny", subtitle: "W wolnych chwilach" },
];

const projects: Project[] = [
  {
    title: "Kociołek",
    subtitle: "Bufet i kawiarnia w Bydgoszczy",
    type: "commercial",
    description:
      "Oficjalna strona internetowa firmy Kociołek. Projekt obejmował zaprojektowanie układu strony, dobór kolorów, grafik i fontów oraz napisanie kodu TypeScript, CSS i HTML z wykorzystaniem frameworków Remix oraz React.",
    image: {
      full: "/screenshots/kociolek-01.png",
      mobile: "/screenshots/kociolek-mobile-01.png",
    },
    technologies: [tech.Remix, tech.React, tech.TS, tech.CSS, tech.HTML],
    link: {
      text: "Netlify",
      url: "https://kociolekbydgoszcz.pl",
      lang: "pl",
      icon: tech.Netlify,
    },
    source: "https://github.com/dawidlehai/kociolek-remix",
  },
  {
    title: "Natio",
    subtitle: "Informacje o krajach i ich sąsiadach",
    type: "personal",
    description:
      "Aplikacja edukacyjna typu SPA napisana w JavaScript, Sass i HTML, która pozwala wyszukiwać i wyświetlać kraje, ich sąsiadów oraz informacje na ich temat. Możliwe jest również dodawanie krajów do ulubionych oraz śledzenie postępu odkrytych krajów.",
    image: {
      full: "/screenshots/natio-01.png",
      mobile: "/screenshots/natio-mobile-01.png",
    },
    technologies: [tech.JS, tech.Sass, tech.HTML],
    link: {
      text: "Netlify",
      url: "https://dawidlehai-natio.netlify.app/",
      lang: "en",
      icon: tech.Netlify,
    },
    source: "https://github.com/dawidlehai/kociolek-remix",
  },
];
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header
    language={language}
    links={anchorLinks}
    cta={{ text: "Zatrudnij mnie", url: "#praca" }}
  />

  <main class="ignore-children">
    <section class="ignore-children">
      <HeroTitle linkUrl={anchorLinks[0]!.url} linkText="Poznaj mnie lepiej">
        <strong>Programista frontendu</strong>, który tworzy przyjazne
        i&nbsp;dobrze wyglądające interfejsy użytkownika.
      </HeroTitle>

      <HeroFigures captions={figcaptions} />
    </section>

    <section class="ignore-children">
      <!-- <Intersection>
        {
          `Jestem ${ageInYears}-letnim programistą frontendu urodzonym i mieszkającym w Polsce, który uwielbia design oraz technologię. Jako osoba z wykształceniem psychologicznym zwracam uwagę na dostosowanie UI do potrzeb odbiorców. Jestem również certyfikowanym trenerem personalnym, a w wolnych chwilach czerpię radość z tworzenia muzyki.`
        }
      </Intersection> -->
    </section>

    <section class="ignore-children">
      <SectionHeader id={anchorLinks[0]!.url.slice(1)}>Projekty</SectionHeader>

      <MyProjects projects={projects} language={language} />
    </section>
  </main>
</Layout>
