---
import {
  Stack,
  Layout as LayoutIcon,
  Books,
  GraduationCap,
  FileSearch,
  MusicNotes,
} from "phosphor-react";

import type { Link, Caption, LanguageSelectionType } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import projects from "../data/projects";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import HeroTitle from "../components/HeroTitle.astro";
import HeroFigures from "../components/HeroFigures.astro";
import SectionHeader from "../components/SectionHeader.astro";
import MyProjects from "../components/projects/MyProjects.astro";
import Skills from "../components/skills/Skills.astro";
import Courses from "../components/courses/Courses.astro";
import EducationList from "../components/education/EducationList.astro";
import ResearchList from "@components/research/ResearchList.astro";
import ProjectsHeader from "@components/projects/ProjectsHeader.astro";
import ProjectsCarousel from "@components/projects/ProjectsCarousel.astro";
import GraphicProjects from "@components/projects/GraphicProjects.astro";
// import Intersection from "../components/Intersection.astro";

const language: LanguageSelectionType = "pl";
const ageInYears = getAge();

const anchorLinks: Link[] = [
  {
    heading: "Projekty",
    url: "#projekty",
    subheading: "Projekty, które wiele mnie nauczyły",
    icon: LayoutIcon,
  },
  { heading: "Technologie", url: "#technologie", subheading: "", icon: Stack },
  { heading: "Kursy", url: "#kursy", subheading: "", icon: Books },
  {
    heading: "Wykształcenie",
    url: "#wyksztalcenie",
    subheading: "",
    icon: GraduationCap,
  },
  {
    heading: "Działalność naukowa",
    url: "#badania",
    subheading: "",
    icon: FileSearch,
  },
  { heading: "Muzyka", url: "#muzyka", subheading: "", icon: MusicNotes },
  { heading: "Zatrudnij mnie", url: "", subheading: "", icon: FileSearch },
];

const figcaptions: Caption[] = [
  {
    title: "Programista frontendu",
    subtitle: "Na co dzień",
    img: {
      filename: "1.png",
      alt: "",
    },
  },
  {
    title: "Magister psychologii",
    subtitle: "Z wykształcenia",
    img: {
      filename: "2.png",
      alt: "",
    },
  },
  {
    title: "Trener personalny",
    subtitle: "Po południu",
    img: {
      filename: "3.png",
      alt: "",
    },
  },
  {
    title: "Producent muzyczny",
    subtitle: "A wieczorem",
    img: {
      filename: "4.png",
      alt: "",
    },
  },
];
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header language={language} links={anchorLinks} />

  <main class="ignore-grid">
    <section class="full-bleed layout-grid hero-bg">
      <div class="hero mid-col">
        <HeroTitle linkUrl={anchorLinks[0]!.url} linkText="Dowiedz się więcej">
          Programista frontendu, który tworzy przyjazne i&nbsp;dobrze
          wyglądające interfejsy użytkownika.
        </HeroTitle>

        <HeroFigures captions={figcaptions} />
      </div>
    </section>

    <section class="ignore-grid">
      <div
        class="full-bleed layout-grid projects-bg"
        id={anchorLinks[0]!.url.slice(1)}>
        <ProjectsHeader link={anchorLinks[0]!}>
          <p>
            Programowanie to pasja, którą rozwijam od dziecka. To ona skłoniła
            mnie do nauki w technikum z klasą o profilu informatycznym, a
            następnie do studiowania informatyki. Różne wydarzenia sprawiły
            jednak, że zainteresowałem się również psychologią. Dopiero po
            latach nauki w tej dziedzinie zdecydowałem się powrócić do
            pierwotnej pasji.
          </p>
          <p>
            Wszystko to sprawiło, że w moim portfolio znajdują się przede
            wszystkim projekty napisane w ramach różnych kursów, kilka projektów
            z dawnych lat oraz kilka nowszych projektów personalnych i
            komercyjnych.
          </p>
        </ProjectsHeader>
      </div>

      <div class="full-bleed layout-grid projects-list-bg">
        <MyProjects projects={projects} language={language} />
      </div>

      <div class="full-bleed layout-grid projects-carousel-bg">
        <ProjectsCarousel projects={projects} language={language}>
          <Fragment slot="subheading">To nie wszystko</Fragment>
          <Fragment slot="heading">Chcesz zobaczyć jeszcze więcej?</Fragment>
          <Fragment slot="info">
            Sprawdź mój profil <strong>@dawidlehai</strong> na GitHub. Znajdziesz
            tam projekty, nad którymi pracuję obecnie oraz projekty, na które nie
            starczyło już tutaj miejsca.
          </Fragment>
        </ProjectsCarousel>
      </div>

      <GraphicProjects>
        <Fragment slot="heading">Projekty graficzne</Fragment>
        <Fragment slot="text">
          <p>
            Od czasu do czasu lubię także zaprojektować coś innego niż UI.
            Czasem zajmuję się obróbką grafiki, a także tworzeniem plakatów,
            ulotek i broszur.
          </p>
          <p>
            Nie nazwałbym się jednak grafikiem komputerowym i dużo bardziej
            lubię pracę w kodzie.
          </p>
        </Fragment>
      </GraphicProjects>
    </section>

    <section class="ignore-grid">
      <SectionHeader
        id={anchorLinks[1]!.url.slice(1)}
        icon={anchorLinks[1]!.icon}>
        {anchorLinks[1]!.heading}
      </SectionHeader>

      <Skills lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader
        id={anchorLinks[2]!.url.slice(1)}
        icon={anchorLinks[2]!.icon}>
        {anchorLinks[2]!.heading}
      </SectionHeader>

      <Courses lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader
        id={anchorLinks[3]!.url.slice(1)}
        icon={anchorLinks[3]!.icon}>
        {anchorLinks[3]!.heading}
      </SectionHeader>

      <EducationList lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader
        id={anchorLinks[4]!.url.slice(1)}
        icon={anchorLinks[4]!.icon}>
        {anchorLinks[4]!.heading}
      </SectionHeader>

      <ResearchList lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader
        id={anchorLinks[5]!.url.slice(1)}
        icon={anchorLinks[5]!.icon}>
        {anchorLinks[5]!.heading}
      </SectionHeader>

      <ResearchList lang={language} />
    </section>
  </main>
</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 var(--side-padding);
    padding-top: var(--space-128);
    padding-bottom: var(--space-256);
    gap: var(--space-64);
  }

  .projects-carousel-bg {
    margin-top: 15.6rem;
    /* background: var(--a-darker); */
  }
</style>
