---
import {
  Stack,
  Monitor,
  Books,
  GraduationCap,
  FileSearch,
  MusicNotes,
} from "phosphor-react";

import type { Link, Caption, LanguageSelectionType } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import projects from "../data/projects";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import HeroTitle from "../components/HeroTitle.astro";
import HeroFigures from "../components/HeroFigures.astro";
import SectionHeader from "../components/SectionHeader.astro";
import MyProjects from "../components/projects/MyProjects.astro";
import Skills from "../components/skills/Skills.astro";
import Courses from "../components/courses/Courses.astro";
import EducationList from "../components/education/EducationList.astro";
import ResearchList from "@components/research/ResearchList.astro";
// import Intersection from "../components/Intersection.astro";

const language: LanguageSelectionType = "pl";
const ageInYears = getAge();

const anchorLinks: Link[] = [
  { text: "Projekty", url: "#projekty" },
  { text: "Technologie", url: "#technologie" },
  { text: "Kursy", url: "#kursy" },
  { text: "Wykształcenie", url: "#wyksztalcenie" },
  { text: "Działalność naukowa", url: "#badania" },
  { text: "Muzyka", url: "#muzyka" },
  { text: "Zatrudnij mnie", url: "" },
];

const figcaptions: Caption[] = [
  {
    title: "Programista frontendu",
    subtitle: "Na co dzień",
    img: {
      filename: "1.png",
      alt: "",
    },
  },
  {
    title: "Magister psychologii",
    subtitle: "Z wykształcenia",
    img: {
      filename: "2.png",
      alt: "",
    },
  },
  {
    title: "Trener personalny",
    subtitle: "Po południu",
    img: {
      filename: "3.png",
      alt: "",
    },
  },
  {
    title: "Producent muzyczny",
    subtitle: "A wieczorem",
    img: {
      filename: "4.png",
      alt: "",
    },
  },
];
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header language={language} links={anchorLinks} />

  <main class="ignore-grid">
    <section class="hero mid-col">
      <HeroTitle linkUrl={anchorLinks[0]!.url} linkText="Dowiedz się więcej">
        Programista frontendu, który tworzy przyjazne i&nbsp;dobrze wyglądające
        interfejsy użytkownika.
      </HeroTitle>

      <HeroFigures captions={figcaptions} />
    </section>

    <section class="full-bleed layout-grid projects-bg">
      <SectionHeader id={anchorLinks[0]!.url.slice(1)} icon={Monitor}>
        {anchorLinks[0]!.text}
      </SectionHeader>

      <MyProjects projects={projects} language={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader id={anchorLinks[1]!.url.slice(1)} icon={Stack}>
        {anchorLinks[1]!.text}
      </SectionHeader>

      <Skills lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader id={anchorLinks[2]!.url.slice(1)} icon={Books}>
        {anchorLinks[2]!.text}
      </SectionHeader>

      <Courses lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader id={anchorLinks[3]!.url.slice(1)} icon={GraduationCap}>
        {anchorLinks[3]!.text}
      </SectionHeader>

      <EducationList lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader id={anchorLinks[4]!.url.slice(1)} icon={FileSearch}>
        {anchorLinks[4]!.text}
      </SectionHeader>

      <ResearchList lang={language} />
    </section>

    <section class="ignore-grid">
      <SectionHeader id={anchorLinks[5]!.url.slice(1)} icon={MusicNotes}>
        {anchorLinks[5]!.text}
      </SectionHeader>

      <ResearchList lang={language} />
    </section>
  </main>
</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 var(--side-padding);
    padding-top: var(--space-128);
    padding-bottom: var(--space-256);
    gap: var(--space-64);
  }

  .projects-bg {
    background: rgb(var(--white));
    border-radius: var(--radius-xxl);
  }
</style>
