---
import {
  Stack,
  Layout as LayoutIcon,
  GraduationCap,
  Sliders,
  Handshake,
} from "phosphor-react";

import type { Link, Caption, LanguageSelectionType } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import projects from "../data/projects";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import HeroTitle from "../components/HeroTitle.astro";
import HeroFigures from "../components/HeroFigures.astro";
import MyProjects from "../components/projects/MyProjects.astro";
import Courses from "../components/skills/Courses.astro";
import EducationList from "../components/education/EducationList.astro";
import ResearchList from "@components/research/ResearchList.astro";
import ProjectsHeader from "@components/projects/ProjectsHeader.astro";
import ProjectsCarousel from "@components/projects/ProjectsCarousel.astro";
import SkillsHeader from "@components/skills/SkillsHeader.astro";
import EducationHeader from "@components/education/EducationHeader.astro";
import EducationAwards from "@components/education/EducationAwards.astro";
import MusicHeader from "@components/music/MusicHeader.astro";
import MusicList from "@components/music/MusicList.astro";
import HireHeader from "@components/HireHeader.astro";
import Footer from "@components/Footer.astro";
import Wave from "@components/decorators/Wave.astro";
// import Intersection from "../components/Intersection.astro";

const language: LanguageSelectionType = "pl";
const ageInYears = getAge();

const anchorLinks: Link[] = [
  {
    heading: "Projekty",
    url: "#projekty",
    subheading: "Projekty, które wiele mnie nauczyły",
    icon: LayoutIcon,
  },
  {
    heading: "Umiejętności",
    url: "#umiejetnosci",
    subheading: "Technologie, na których skupiam swoją uwagę",
    icon: Stack,
  },
  {
    heading: "Wykształcenie",
    url: "#wyksztalcenie",
    subheading: "Wykształcenie i działalność naukowa",
    icon: GraduationCap,
  },
  { heading: "Muzyka", url: "#muzyka", subheading: "", icon: Sliders },
  {
    heading: "Zatrudnij mnie",
    url: "#zatrudnij-mnie",
    subheading: "Pracujmy razem!",
    icon: Handshake,
  },
];

const figcaptions: Caption[] = [
  {
    title: "Programista frontendu",
    subtitle: "Na co dzień",
    img: {
      filename: "ukiyo1.png",
      alt: "",
    },
  },
  {
    title: "Magister psychologii",
    subtitle: "Z wykształcenia",
    img: {
      filename: "ukiyo2.png",
      alt: "",
    },
  },
  {
    title: "Trener personalny",
    subtitle: "Po południu",
    img: {
      filename: "ukiyo3.png",
      alt: "",
    },
  },
  {
    title: "Producent muzyczny",
    subtitle: "A wieczorem",
    img: {
      filename: "ukiyo4.png",
      alt: "",
    },
  },
];
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header language={language} links={anchorLinks} />

  <main class="ignore-grid">
    <section class="full-bleed layout-grid hero-bg">
      <div class="hero mid-col">
        <HeroTitle linkUrl={anchorLinks[0]!.url} linkText="Dowiedz się więcej">
          Programista frontendu, który tworzy przyjazne i&nbsp;dobrze
          wyglądające interfejsy użytkownika.
        </HeroTitle>

        <HeroFigures captions={figcaptions} />
      </div>
    </section>

    <section class="ignore-grid">
      <Wave bgTop="var(--c1)" bgBottom="var(--c6light)" />

      <div
        class="full-bleed layout-grid projects-bg"
        id={anchorLinks[0]!.url.slice(1)}>
        <ProjectsHeader link={anchorLinks[0]!}>
          <p>
            W moim portfolio znajdziesz kilka większych projektów oraz wiele
            projektów, które napisałem w ramach kursów frontendowych. Każdy z
            nich nauczył mnie czegoś nowego lub pozwolił mi doskonalić swoje
            umiejętności.
          </p>
          <p>
            Obecnie poszukuję pracy przy profesjonalnych projektach
            komercyjnych, w celu uzyskania większego doświadczenia zawodowego
            oraz dalszego rozwoju swojej wiedzy i umiejętności związanych z
            programowaniem frontendu.
          </p>
        </ProjectsHeader>
      </div>

      <div class="full-bleed layout-grid projects-list-bg">
        <MyProjects projects={projects} language={language} />
      </div>

      <div class="full-bleed layout-grid projects-carousel-bg">
        <ProjectsCarousel projects={projects} language={language}>
          <Fragment slot="subheading">To nie wszystko</Fragment>
          <Fragment slot="heading">Chcesz zobaczyć więcej projektów?</Fragment>
          <Fragment slot="info">
            Sprawdź mój profil <strong>@dawidlehai</strong> na GitHub. Znajdziesz
            tam projekty, na które nie starczyło już tutaj miejsca oraz te, nad którymi
            pracuję obecnie.
          </Fragment>
        </ProjectsCarousel>
      </div>
    </section>

    <section class="ignore-grid">
      <Wave bgTop="var(--c6light)" bgBottom="var(--c7light)" />

      <div
        class="full-bleed layout-grid skills-bg"
        id={anchorLinks[1]!.url.slice(1)}>
        <SkillsHeader link={anchorLinks[1]!}>
          <p>
            Ostatnio skupiłem się na nauce technologii i frameworków webowych.
            Ukończyłem kilka interesujących kursów, napisałem wiele projektów i
            walczyłem z setkami linijek kodu, aby przygotować się na większe
            wyzwania.
          </p>
        </SkillsHeader>
      </div>

      <div class="full-bleed layout-grid courses-bg">
        <Courses lang={language}>Ukończone kursy</Courses>
      </div>
    </section>

    <section class="ignore-grid">
      <Wave bgTop="var(--c7light)" bgBottom="var(--c2light)" />

      <div
        class="full-bleed layout-grid education-bg"
        id={anchorLinks[2]!.url.slice(1)}>
        <EducationHeader link={anchorLinks[2]!}>
          <p>
            Programowanie to pasja, którą rozwijam od dziecka. To ona skłoniła
            mnie do nauki w technikum z klasą o profilu informatycznym, a
            następnie do studiowania informatyki. Różne wydarzenia sprawiły
            jednak, że zainteresowałem się również psychologią. Dopiero po
            latach nauki w tej dyscyplinie zdecydowałem się powrócić do
            pierwotnej pasji.
          </p>
          <p>
            Podczas pięciu lat studiów psychologicznych wykazywałem się dużym
            zainteresowaniem w sferze badań naukowych, a także udzielałem się na
            forum studenckim chcąc usprawnić proces nauczania.
          </p>
        </EducationHeader>

        <EducationList lang={language} />
        <EducationAwards lang={language} />
        <ResearchList lang={language} />
      </div>
    </section>

    <section class="ignore-grid">
      <Wave bgTop="var(--c2light)" bgBottom="var(--c1)" />

      <div
        class="full-bleed layout-grid music-bg"
        id={anchorLinks[3]!.url.slice(1)}>
        <MusicHeader link={anchorLinks[3]!}>
          <p>
            Chociaż muzykiem nie jestem, to czerpię ogromną radość z tworzenia
            utworów. Kiedy komponuję nie ograniczają mnie ramy jednego gatunku i
            chętnie eksperymentuję z różnymi dźwiękami.
          </p>
          <p>Wszystkie moje utwory znajdziesz w serwisie SoundCloud.</p>
        </MusicHeader>

        <MusicList lang={language} />
      </div>
    </section>

    <section class="ignore-grid">
      <Wave bgTop="var(--c1)" bgBottom="var(--c11)" />

      <div
        class="full-bleed layout-grid hire-bg"
        id={anchorLinks[4]!.url.slice(1)}>
        <HireHeader link={anchorLinks[4]!}>
          <p>
            Poszukuję miejsca w przyjaznym zespole, w którym mógłbym dalej
            rozwijać swoje umiejętności programistyczne i designerskie, a także
            umiejętności związane z organizacją pracy przy większych projektach.
          </p>
          <p>
            Jeżeli przydałby Ci się ktoś taki jak ja, to zapraszam do kontaktu
            przez LinkedIn.
          </p>
        </HireHeader>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 var(--side-padding);
    padding-top: var(--space-128);
    padding-bottom: var(--space-144);
    gap: var(--space-64);
  }

  .projects-bg {
    background: var(--c6light);
  }

  .projects-list-bg {
    background: var(--c6light);
    padding-bottom: var(--space-32);
    z-index: -1;
  }

  .projects-carousel-bg {
    padding-top: var(--space-144);
    padding-bottom: var(--space-144);
    background: var(--c6light);
    z-index: -1;
  }

  .skills-bg {
    padding-bottom: var(--space-96);
    background: var(--c7light);
  }

  .courses-bg {
    background: var(--c7light);
    padding-bottom: var(--space-144);
  }

  .education-bg {
    background: var(--c2light);
    padding-bottom: var(--space-144);
    z-index: -1;
  }

  .music-bg {
    padding-bottom: var(--space-144);
  }

  .hire-bg {
    background: var(--c11);
  }
</style>
