---
import type { Links } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import HeroTitle from "../components/HeroTitle.astro";
import HeroFigures from "../components/HeroFigures.astro";
import SectionHeader from "../components/SectionHeader.astro";
// import Intersection from "../components/Intersection.astro";

const language = "pl";
const ageInYears = getAge();

const anchorLinks: Links = [
  { text: "Projekty", url: "#projekty" },
  { text: "Technologie", url: "#technologie" },
  { text: "Kursy", url: "#kursy" },
  { text: "Wykształcenie", url: "#wyksztalcenie" },
  { text: "Badania naukowe", url: "#badania" },
  { text: "Muzyka", url: "#muzyka" },
];
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header
    language={language}
    links={anchorLinks}
    cta={{ text: "Zatrudnij mnie", url: "#praca" }}
  />

  <main class="ignore-children">
    <section class="ignore-children">
      <HeroTitle linkUrl={anchorLinks[0]!.url} linkText="Poznaj mnie lepiej">
        <strong>Programista frontendu</strong>, który tworzy przyjazne
        i&nbsp;dobrze wyglądające interfejsy użytkownika.
      </HeroTitle>

      <HeroFigures
        captions={[
          "Programista frontendu",
          "Psycholog",
          "Trener personalny",
          "Producent muzyczny",
        ]}
      />
    </section>

    <section class="ignore-children">
      <!-- <Intersection>
        {
          `Jestem ${ageInYears}-letnim programistą frontendu urodzonym i mieszkającym w Polsce, który uwielbia design oraz technologię. Jako osoba z wykształceniem psychologicznym zwracam uwagę na dostosowanie UI do potrzeb odbiorców. Jestem również certyfikowanym trenerem personalnym, a w wolnych chwilach czerpię radość z tworzenia muzyki.`
        }
      </Intersection> -->
    </section>

    <section class="ignore-children" id={anchorLinks[0]!.url}>
      <SectionHeader>Projekty</SectionHeader>
    </section>
  </main>
</Layout>

<style></style>
