---
import type { Language, Links, Link } from "../utils/types";
import { getSite, getSiteName, getLanguageUrls } from "../utils/utils.astro";
import Navigation from "../components/Navigation.astro";

interface Props extends Language {
  links?: Links;
  cta?: Link;
}

const { language, links, cta } = Astro.props;

const isEn = language === "en";
const langCode = isEn ? "pl" : "en";
const url = getLanguageUrls(Astro.url.pathname);

const site = new URL("pl", getSite());
const siteName = getSiteName();
---

<header class="mid-col">
  <a href={site}><div class="logo-container"></div>{siteName}</a>
  {links && <Navigation links={links} />}
  <nav>
    <ul>
      <li>
        <a
          rel="alternate"
          hreflang={langCode}
          href={url[langCode]}
          lang={langCode}
          >{isEn ? "Polski" : "English"}
        </a>
      </li>
      {
        cta && (
          <li>
            <a href={cta.url} class="button">
              {cta.text}
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</header>

<style>
  header {
    --gap: var(--space-24);
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-24) var(--space-32);
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .button {
    background-color: var(--gray-15);
    padding: calc(var(--gap) * 0.5) var(--gap);
  }
</style>
