---
import { List, Translate, X } from "phosphor-react";

import type { LanguageSelectionType, Link } from "../utils/types";
import { getSite, getSiteName, getLanguageUrls } from "../utils/utils.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  language: LanguageSelectionType;
  links?: Link[];
  cta?: Link;
}

const { language, links } = Astro.props;

const isEn = language === "en";
const langCode = isEn ? "pl" : "en";
const url = getLanguageUrls(Astro.url.pathname);

const site = new URL("pl", getSite());
const siteName = getSiteName();
---

<div class="full-bleed layout-grid header-bg">
  <input aria-hidden="true" type="checkbox" id="menustate" />
  <header class="header mid-col">
    <div class="left">
      <a href={site} class="logo-link">
        <div class="logo"><span>Le</span></div>
        <span>{siteName}</span>
      </a>
      <a
        rel="alternate"
        hreflang={langCode}
        href={url[langCode]}
        lang={langCode}
        class="lang-link">
        <Translate
          size="2.5ex"
          weight="duotone"
          alt={isEn ? "Zmień język" : "Change language"}
        />
        {isEn ? "Polski" : "English"}
      </a>
    </div>

    {links && <Navigation links={links} />}

    <label for="menustate" aria-hidden="true" class="menu-button">
      <List size="100%" weight="bold" className="menu-button__open" />
      <X size="100%" weight="bold" className="menu-button__close" />
    </label>
  </header>
</div>

<style is:global>
  .sticky {
    position: sticky;
    top: 0;
    z-index: 99;
    background: linear-gradient(
      to bottom,
      var(--white),
      rgb(var(--whiteRGB) / 0.9)
    );
    backdrop-filter: blur(4px);
    box-shadow: 0 0 2rem rgb(var(--blackRGB) / 0.1);
    margin-bottom: calc(var(--side-padding) * 4 / 3);
  }

  .sticky .header {
    padding: calc(var(--side-padding) / 3) var(--side-padding);
  }

  .header.mobile .logo-link > span:nth-child(2) {
    display: none;
  }

  #menustate,
  header.header :is(.menu-button, .menu-button__close) {
    display: none;
  }

  header.header.mobile :is(.menu-button, .menu-button__open) {
    display: flex;
  }

  #menustate:checked ~ header.header :is(.menu-button__close, .top-nav) {
    display: flex;
  }

  #menustate:checked ~ header.header .menu-button__open {
    display: none;
  }

  .menu-button {
    height: 4rem;
    align-self: center;
    color: var(--c8dark);
    cursor: pointer;
  }

  header.header {
    --gap: var(--space-24);
    --link-color: var(--gray-4);
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: var(--side-padding);
    position: relative;
  }

  header.header a:where(:link, :visited) {
    color: var(--c2dark);
    font-weight: var(--weight);
  }

  .header .left {
    display: flex;
    gap: var(--space-32);
  }

  .header .logo {
    background: var(--c3);
    width: 4.5rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff;
    font-family: "Anton", "Poppins", sans-serif;
    text-transform: uppercase;
    border-radius: var(--radius-xs);
    letter-spacing: 0.05ex;
    aspect-ratio: 1 / 1;
  }

  .header .logo-link {
    font-weight: 700;
    color: var(--c3);
    justify-self: start;
    font-size: 2rem;
    gap: var(--space-8);
    display: flex;
    align-items: stretch;
  }

  .header .logo-link > span {
    display: flex;
    align-items: center;
  }

  .header .lang-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap) / 4);
  }
</style>
