---
import type { Language, Links, Link } from "../utils/types";
import { getSite, getSiteName, getLanguageUrls } from "../utils/utils.astro";
import Navigation from "../components/Navigation.astro";

interface Props extends Language {
  links?: Links;
  cta?: Link;
}

const { language, links, cta } = Astro.props;

const isEn = language === "en";
const langCode = isEn ? "pl" : "en";
const url = getLanguageUrls(Astro.url.pathname);

const site = new URL("pl", getSite());
const siteName = getSiteName();
---

<header class="mid-col">
  <a href={site}><div class="logo-container"></div>{siteName}</a>
  {links && <Navigation links={links} />}
  <nav>
    <ul>
      <li>
        <a
          rel="alternate"
          hreflang={langCode}
          href={url[langCode]}
          lang={langCode}
          >{isEn ? "Polski" : "English"}
        </a>
      </li>
      {
        cta && (
          <li>
            <a href={cta.url} class="cta">
              {cta.text}
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</header>
