---
import { Translate } from "phosphor-react";

import type { LanguageSelectionType, Link } from "../utils/types";
import { getSite, getSiteName, getLanguageUrls } from "../utils/utils.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  language: LanguageSelectionType;
  links?: Link[];
  cta?: Link;
}

const { language, links } = Astro.props;

const isEn = language === "en";
const langCode = isEn ? "pl" : "en";
const url = getLanguageUrls(Astro.url.pathname);

const site = new URL("pl", getSite());
const siteName = getSiteName();
---

<div class="full-bleed layout-grid header-bg">
  <header class="mid-col">
    <div class="left">
      <a href={site} class="logo-link">
        <div class="logo"><span>Le</span></div>
        <span>{siteName}</span>
      </a>
      <a
        rel="alternate"
        hreflang={langCode}
        href={url[langCode]}
        lang={langCode}
        class="lang-link">
        <Translate
          size="2.5ex"
          weight="duotone"
          alt={isEn ? "Zmień język" : "Change language"}
        />
        {isEn ? "Polski" : "English"}
      </a>
    </div>

    {links && <Navigation links={links} />}
  </header>
</div>

<style>
  .header-bg {
    background: hsl(var(--a) 63%);
  }

  header {
    --gap: var(--space-24);
    --link-color: var(--gray-4);
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: var(--side-padding);
  }

  header a:where(:link, :visited) {
    color: hsl(var(--a) 25%);
    font-weight: var(--weight);
  }

  nav {
    justify-self: end;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .left {
    display: flex;
    gap: var(--space-32);
  }

  .logo {
    background: rgb(var(--black) / 0.1);
    width: 4.5rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: hsl(var(--a) 97.5%);
    font-family: "Anton", "Poppins", sans-serif;
    text-transform: uppercase;
    border-radius: var(--radius-xs);
    letter-spacing: 0.05ex;
    aspect-ratio: 1 / 1;
  }

  .logo-link {
    font-weight: 700;
    color: hsl(var(--a) 25%);
    justify-self: start;
    font-size: 2rem;
    gap: var(--space-8);
    display: flex;
    align-items: stretch;
  }

  .logo-link > span {
    display: flex;
    align-items: center;
  }

  .lang-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap) / 4);
  }
</style>
