---
import { Translate } from "phosphor-react";

import type { Language, Link } from "../utils/types";
import { getSite, getSiteName, getLanguageUrls } from "../utils/utils.astro";
import Navigation from "../components/Navigation.astro";

interface Props extends Language {
  links?: Link[];
  cta?: Link;
}

const { language, links, cta } = Astro.props;

const isEn = language === "en";
const langCode = isEn ? "pl" : "en";
const url = getLanguageUrls(Astro.url.pathname);

const site = new URL("pl", getSite());
const siteName = getSiteName();
---

<header class="mid-col">
  <a href={site} class="logo-link">{siteName}</a>
  {links && <Navigation links={links} />}
  <nav>
    <ul>
      <li>
        <a
          rel="alternate"
          hreflang={langCode}
          href={url[langCode]}
          lang={langCode}
          class="lang-link">
          <Translate
            size="2.5ex"
            weight="duotone"
            alt={isEn ? "Zmień język" : "Change language"}
          />
          {isEn ? "Polski" : "English"}
        </a>
      </li>
      {
        cta && (
          <li>
            <a href={cta.url} class="button">
              {cta.text}
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</header>

<style>
  header {
    --gap: var(--space-24);
    --link-color: var(--gray-4);
    gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr max-content minmax(max-content, 1fr);
    align-items: center;
    justify-items: center;
    padding: var(--space-24) var(--side-padding);
  }

  header a:where(:link, :visited) {
    color: var(--link-color);
    font-weight: var(--weight);
  }

  nav {
    justify-self: end;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .logo-link {
    font-weight: var(--font-semibold);
    font-style: italic;
    justify-self: start;
    font-size: var(--font-large);
  }

  .lang-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap) / 4);
  }

  .button {
    background-color: var(--gray-15);
    color: var(--link-color);
  }
</style>
