---
export interface Props {
  title: string; // max 55 chars
  description: string; // max 150 chars
  language: "en" | "pl";
}

const { title, description, language } = Astro.props;

const { pathname: path } = Astro.url;
const { site } = Astro;

const englishUrl = new URL(path, site);
const polishUrl = new URL(`pl${path}`, site);
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href={englishUrl} />
    <link rel="alternate" hreflang="pl" href={polishUrl} />
    <link rel="alternate" hreflang="x-default" href={englishUrl} />

    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>

  <style is:global>
    :root {
    }

    * {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      box-sizing: border-box;
    }

    input,
    button,
    a {
      -webkit-tap-highlight-color: transparent;
    }

    a:where(:link, :visited) {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    ul,
    ol {
      list-style: none;
    }

    img {
      display: block;
    }
  </style>
</html>
