---
import type { LanguageSelectionType } from "../utils/types";
import { getLanguageUrls } from "../utils/utils.astro";

interface Props {
  title: string;
  description: string;
  language: LanguageSelectionType;
  children: any;
}

const { language, title, description } = Astro.props;

if (title.length > 55)
  throw new Error(`The title mustn't have more than 55 characters: ${title}`);
if (description.length > 150)
  throw new Error(
    `The description mustn't have more than 150 characters: ${description}`
  );

const url = getLanguageUrls(Astro.url.pathname);
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href={url.en} />
    <link rel="alternate" hreflang="pl" href={url.pl} />
    <link rel="alternate" hreflang="x-default" href={url.en} />

    <title>{title}</title>
  </head>

  <body class="container">
    <slot />
  </body>

  <style>
    .container {
      display: grid;
      grid-template-columns:
        1fr [start] minmax(min-content, var(--width-default))
        [end] 1fr;

      background-color: hsl(var(--b) 95%);

      margin-bottom: 100rem;
    }
  </style>

  <style is:global>
    @font-face {
      font-family: "Inter";
      src: local("Inter"),
        url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    }

    @font-face {
      font-family: "Lora";
      src: local("Lora"),
        url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
      font-style: normal;
    }

    @font-face {
      font-family: "Lora";
      src: local("Lora"),
        url("/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
      font-style: italic;
    }

    /* Custom properties */
    :root {
      --font-serif: "Lora", serif;
      --font-sans: "Inter", sans-serif;

      --font-normal: 400;
      --font-medium: 500;
      --font-semibold: 600;
      --font-bold: 700;
      --font-black: 900;

      --font-1: 11rem;
      --font-2: 7.58rem;
      --font-3: 5.68rem;
      --font-4: 4.26rem;
      --font-5: 3.11rem;
      --font-6: 2.59rem;
      --font-large: 2.16rem;
      --font-base: 1.8rem;
      --font-small: 1.5rem;
      --font-xs: 1.3rem;

      --line-very-tight: 1.2;
      --line-tight: 1.25;
      --line-snug: 1.35;
      --line-snugish: 1.425;
      --line-normal: 1.5;
      --line-base: 1.618;

      --letter-spacing-1: -0.2rem;
      --letter-spacing-2: -0.15rem;
      --letter-spacing-3: -0.1rem;
      --letter-spacing-4: -0.05rem;
      --letter-spacing-5: -0.02rem;
      --letter-spacing-loose: 0.2rem;

      --space-1: 0.1rem;
      --space-2: 0.2rem;
      --space-4: 0.4rem;
      --space-8: 0.8rem;
      --space-12: 1.2rem;
      --space-16: 1.6rem;
      --space-24: 2.4rem;
      --space-32: 3.2rem;
      --space-48: 4.8rem;
      --space-64: 6.4rem;
      --space-80: 8rem;
      --space-96: 9.6rem;
      --space-128: 12.8rem;
      --space-144: 14.4rem;
      --space-192: 19.2rem;
      --space-256: 25.6rem;

      --side-padding: var(--space-32);
      --width-default: 185rem;

      --gray-0: #000;
      --gray-1: #111;
      --gray-2: #222;
      --gray-3: #333;
      --gray-4: #444;
      --gray-5: #555;
      --gray-6: #666;
      --gray-7: #777;
      --gray-8: #888;
      --gray-9: #999;
      --gray-10: #aaa;
      --gray-11: #bbb;
      --gray-12: #ccc;
      --gray-13: #ddd;
      --gray-14: #eee;
      --gray-15: #fff;

      /* https://coolors.co/1b4354-f5ab49-fff0d3 */
      --color-a: hsl(198 51% 22%);
      --color-b: hsl(34 90% 62%);
      --color-c: hsl(40 100% 91%);
      --color-d: hsl(333 84% 70%);

      --a: 201 100%; /* 14% */
      --b: 31 100%; /* 48% */

      --radius-xs: 0.5rem;
      --radius-small: 1rem;
      --radius-default: 2rem;
      --radius-xxl: 3.5rem;

      --shadow-default: -1.2rem 2rem 2.5rem -0.5rem rgb(0 0 0 / 0.1),
        -0.8rem 0.8rem 1rem -0.6rem rgb(0 0 0 / 0.1);

      --border-width: 1px;
    }

    /* Reset */
    * {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      box-sizing: border-box;
      font-family: var(--font-sans);
      font-size: var(--font-base);
      line-height: var(--line-base);
      color: var(--gray-3);
    }

    input,
    button,
    a {
      -webkit-tap-highlight-color: transparent;
    }

    a:where(:link, :visited) {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    ul,
    ol {
      list-style: none;
    }

    img {
      display: block;
    }

    h2 {
      font-size: var(--font-2);
      font-weight: var(--font-bold);
      line-height: var(--line-very-tight);
      letter-spacing: var(--letter-spacing-2);
    }

    h3 {
      font-size: var(--font-3);
      font-weight: var(--font-bold);
      line-height: var(--line-tight);
      letter-spacing: var(--letter-spacing-3);
    }

    h4 {
      font-size: var(--font-4);
      font-weight: var(--font-bold);
      line-height: var(--line-tight);
      letter-spacing: var(--letter-spacing-4);
    }

    p {
      margin-bottom: var(--space-12);
    }

    /* Utility classes */
    .ignore-grid {
      display: contents;
    }

    .mid-col {
      grid-column: start / end;
    }

    .full-bleed {
      grid-column: 1 / -1;
    }

    .button {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: var(--line-normal);
      border-radius: 1000px;
      padding: 1.2ex 2ex 1.3ex 2ex;
      color: currentColor;
      gap: var(--space-8);
    }

    .button__icon {
      --icon-size: 2.5ex;
      color: currentColor;
    }
  </style>
</html>
