---
export interface Props {
  title: string; // max 55 chars
  description: string; // max 150 chars
  language: "en" | "pl";
}

const { title, description, language } = Astro.props;
const { pathname: path } = Astro.url;
const { site } = Astro;

const polishUrl = new URL(`pl${path}`, site);
const defaultUrl = new URL(path, site);
---

<!DOCTYPE html>
<html lang={language} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" href={polishUrl} hreflang="pl" />
    <link rel="alternate" href={defaultUrl} hreflang="x-default" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <style is:global></style>
</html>
