---
import "@fontsource/lora";
import "@fontsource/source-sans-pro";

export interface Props {
  language: "en" | "pl";
  title: string;
  description: string;
}

const { language, title, description } = Astro.props;

if (title.length > 55)
  throw new Error(`The title mustn't have more than 55 characters: ${title}`);
if (description.length > 150)
  throw new Error(
    `The description mustn't have more than 150 characters: ${description}`
  );

const { pathname: path } = Astro.url;
const { site } = Astro;

const englishUrl = new URL(path, site);
const polishUrl = new URL(`pl${path}`, site);
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href={englishUrl} />
    <link rel="alternate" hreflang="pl" href={polishUrl} />
    <link rel="alternate" hreflang="x-default" href={englishUrl} />

    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>

  <style is:global>
    :root {
      --font-serif: "Lora", serif;
      --font-sans: "Source Sans Pro", sans-serif;

      --font-normal: 400;
      --font-semibold: 600;
      --font-bold: 700;

      /* Perfect Fourth (1.333) type scale with base 1.8 */
      --font-1: 10.1rem;
      --font-2: 7.58rem;
      --font-3: 5.68rem;
      --font-4: 4.26rem;
      --font-5: 3.2rem;
      --font-6: 2.4rem;
      --font-base: 1.8rem;
      --font-small: 1.35rem;

      --line-base: 1.618;

      --space-1: 0.1rem;
      --space-2: 0.2rem;
      --space-4: 0.4rem;
      --space-8: 0.8rem;
      --space-12: 1.2rem;
      --space-16: 1.6rem;
      --space-24: 2.4rem;
      --space-32: 3.2rem;
      --space-48: 4.8rem;
      --space-64: 6.4rem;
      --space-80: 8rem;
      --space-96: 9.6rem;
      --space-128: 12.8rem;
      --space-144: 14.4rem;
      --space-192: 19.2rem;
      --space-256: 25.6rem;
    }

    * {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      box-sizing: border-box;
      font-family: var(--font-sans);
      font-size: var(--font-base);
      line-height: var(--line-base);
    }

    input,
    button,
    a {
      -webkit-tap-highlight-color: transparent;
    }

    a:where(:link, :visited) {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    ul,
    ol {
      list-style: none;
    }

    img {
      display: block;
    }
  </style>
</html>
