---
export interface Props {
  language: "en" | "pl";
  alternateLanguageUrl: string;
  title: string; // max 55 chars
  description: string; // max 150 chars
}

const { language, alternateLanguageUrl, title, description } = Astro.props;

const alternateLanguage = language === "en" ? "pl" : "en";
---

<!DOCTYPE html>
<html lang={language} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      href={alternateLanguageUrl}
      hreflang={alternateLanguage}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
