---
import "@fontsource/quicksand";

import type { Language } from "../utils/types";
import { getLanguageUrls } from "../utils/utils.astro";

interface Props extends Language {
  title: string;
  description: string;
  children: any;
}

const { language, title, description } = Astro.props;

if (title.length > 55)
  throw new Error(`The title mustn't have more than 55 characters: ${title}`);
if (description.length > 150)
  throw new Error(
    `The description mustn't have more than 150 characters: ${description}`
  );

const url = getLanguageUrls(Astro.url.pathname);
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href={url.en} />
    <link rel="alternate" hreflang="pl" href={url.pl} />
    <link rel="alternate" hreflang="x-default" href={url.en} />

    <title>{title}</title>
  </head>

  <body class="container">
    <slot />
  </body>

  <style>
    .container {
      display: grid;
      grid-template-columns:
        1fr [start] minmax(min-content, var(--width-default))
        [end] 1fr;

      background: linear-gradient(
        to bottom,
        var(--gray-13) 50dvh,
        var(--gray-15) 100dvh
      );
    }
  </style>

  <style is:global>
    @font-face {
      font-family: "Lora";
      src: local("Lora"),
        url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
      font-style: normal;
    }

    @font-face {
      font-family: "Lora";
      src: local("Lora"),
        url("/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
      font-style: italic;
    }

    /* Custom properties */
    :root {
      --font-serif: "Lora", serif;
      --font-sans: "Quicksand", sans-serif;

      --font-normal: 400;
      --font-semibold: 600;
      --font-bold: 700;

      /* Perfect Fourth (1.333) type scale with base 1.8 */
      --font-1: 11rem;
      --font-2: 7.58rem;
      --font-3: 5.68rem;
      --font-4: 4.26rem;
      --font-5: 3.2rem;
      --font-6: 2.4rem;
      --font-large: 2rem;
      --font-base: 1.8rem;
      --font-small: 1.35rem;

      --line-1: 1.2;
      --line-6: 1.5;
      --line-base: 1.618;

      --space-1: 0.1rem;
      --space-2: 0.2rem;
      --space-4: 0.4rem;
      --space-8: 0.8rem;
      --space-12: 1.2rem;
      --space-16: 1.6rem;
      --space-24: 2.4rem;
      --space-32: 3.2rem;
      --space-48: 4.8rem;
      --space-64: 6.4rem;
      --space-80: 8rem;
      --space-96: 9.6rem;
      --space-128: 12.8rem;
      --space-144: 14.4rem;
      --space-192: 19.2rem;
      --space-256: 25.6rem;

      --side-padding: var(--space-32);
      --width-default: 185rem;

      --gray-0: #000;
      --gray-1: #111;
      --gray-2: #222;
      --gray-3: #333;
      --gray-4: #444;
      --gray-5: #555;
      --gray-6: #666;
      --gray-7: #777;
      --gray-8: #888;
      --gray-9: #999;
      --gray-10: #aaa;
      --gray-11: #bbb;
      --gray-12: #ccc;
      --gray-13: #ddd;
      --gray-14: #eee;
      --gray-15: #fff;

      --radius-default: 2rem;
    }

    /* Reset */
    * {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      box-sizing: border-box;
      font-family: var(--font-serif);
      font-size: var(--font-base);
      line-height: var(--line-base);
    }

    input,
    button,
    a {
      -webkit-tap-highlight-color: transparent;
    }

    a:where(:link, :visited) {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    ul,
    ol {
      list-style: none;
    }

    img {
      display: block;
    }

    h1 {
      font-size: var(--font-1);
      font-weight: var(--font-bold);
    }

    /* Utility classes */
    .ignore-children {
      display: contents;
    }

    .mid-col {
      grid-column: start / end;
    }

    .full-bleed {
      grid-column: 1 / -1;
    }

    .button {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: var(--line-6);
      border-radius: var(--radius-default);
      padding: 1.2ex 2ex 1.35ex 2ex;
      color: currentColor;
    }
  </style>
</html>
