---
import type { LanguageSelectionType } from "../utils/types";
import { getLanguageUrls } from "../utils/utils.astro";

interface Props {
  title: string;
  description: string;
  language: LanguageSelectionType;
  children: any;
}

const { language, title, description } = Astro.props;

if (title.length > 55)
  throw new Error(`The title mustn't have more than 55 characters: ${title}`);
if (description.length > 150)
  throw new Error(
    `The description mustn't have more than 150 characters: ${description}`
  );

const url = getLanguageUrls(Astro.url.pathname);
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <link rel="preload" href="/fonts/Anton-Regular.ttf" />
    <link rel="preload" href="/fonts/Poppins-Regular.ttf" />
    <link rel="preload" href="/fonts/Poppins-Italic.ttf" />
    <link rel="preload" href="/fonts/Poppins-Medium.ttf" />
    <link rel="preload" href="/fonts/Poppins-SemiBold.ttf" />
    <link rel="preload" href="/fonts/Poppins-Bold.ttf" />
    <link rel="preload" href="/fonts/Poppins-ExtraBold.ttf" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href={url.en} />
    <link rel="alternate" hreflang="pl" href={url.pl} />
    <link rel="alternate" hreflang="x-default" href={url.en} />

    <title>{title}</title>
  </head>

  <body class="container">
    <slot />
  </body>

  <style>
    .container {
      display: grid;
      grid-template-columns:
        1fr [start] minmax(min-content, var(--width-default))
        [end] 1fr;

      background: linear-gradient(to bottom, var(--c2), var(--c1) 20vh);
    }
  </style>

  <style is:global>
    @font-face {
      font-family: "Poppins";
      src: local("Poppins"),
        url("/fonts/Poppins-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Poppins";
      src: local("Poppins"), url("/fonts/Poppins-Italic.ttf") format("truetype");
      font-weight: 400;
      font-style: italic;
    }

    @font-face {
      font-family: "Poppins";
      src: local("Poppins"), url("/fonts/Poppins-Medium.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: "Poppins";
      src: local("Poppins"),
        url("/fonts/Poppins-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: "Poppins";
      src: local("Poppins"), url("/fonts/Poppins-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: "Poppins";
      src: local("Poppins"),
        url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
      font-weight: 800;
      font-style: normal;
    }

    @font-face {
      font-family: "Anton";
      src: local("Anton"), url("/fonts/Anton-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    /* Custom properties */
    :root {
      --font-sans: "Poppins", sans-serif;

      --font-1: 11rem;
      --font-2: 7.58rem;
      --font-3: 5.68rem;
      --font-4: 4.26rem;
      --font-5: 3.11rem;
      --font-6: 2.59rem;
      --font-large: 2.16rem;
      --font-base: 1.8rem;
      --font-normal: 1.6rem;
      --font-small: 1.5rem;
      --font-xs: 1.3rem;
      --font-xxs: 1.2rem;

      --line-tightest: 1.1;
      --line-very-tight: 1.2;
      --line-tight: 1.25;
      --line-snug: 1.35;
      --line-snugish: 1.425;
      --line-normal: 1.5;
      --line-base: 1.618;

      --letter-spacing-1: -0.2rem;
      --letter-spacing-2: -0.15rem;
      --letter-spacing-3: -0.1rem;
      --letter-spacing-4: -0.05rem;
      --letter-spacing-5: -0.02rem;
      --letter-spacing-loose: 0.2rem;
      --letter-spacing-very-loose: 0.8rem;

      --space-1: 0.1rem;
      --space-2: 0.2rem;
      --space-4: 0.4rem;
      --space-8: 0.8rem;
      --space-12: 1.2rem;
      --space-16: 1.6rem;
      --space-24: 2.4rem;
      --space-32: 3.2rem;
      --space-48: 4.8rem;
      --space-64: 6.4rem;
      --space-80: 8rem;
      --space-96: 9.6rem;
      --space-128: 12.8rem;
      --space-144: 14.4rem;
      --space-192: 19.2rem;
      --space-256: 25.6rem;

      --side-padding: var(--space-32);
      --width-default: 160rem;

      --gray-0: #000;
      --gray-1: #111;
      --gray-2: #222;
      --gray-3: #333;
      --gray-4: #444;
      --gray-5: #555;
      --gray-6: #666;
      --gray-7: #777;
      --gray-8: #888;
      --gray-9: #999;
      --gray-10: #aaa;
      --gray-11: #bbb;
      --gray-12: #ccc;
      --gray-13: #ddd;
      --gray-14: #eee;
      --gray-15: #fff;

      /* https://coolors.co/1b4354-f5ab49-fff0d3 */
      --color-a: hsl(198 51% 22%);
      --color-b: hsl(34 90% 62%);
      --color-c: hsl(40 100% 91%);
      --color-d: hsl(333 84% 70%);

      --a: 7 99%; /* 63% */
      --b: 46 99%; /* 62% */
      --white: 255 255 255;
      --black: 0 0 0;
      --white-a: hsl(var(--a) 97.5%);
      --white-b: hsl(var(--b) 97.5%);
      --a-full: hsl(var(--a) 63%);
      --a-darker: #e4503c;
      --b-full: hsl(var(--b) 62%);
      --darker: rgb(var(--black) / 0.1);
      --font-dark: hsl(var(--a) 23%);

      --c1: #f3e1ca;
      --c1light: hsl(34, 63%, 95%);
      --c1dark: #83725d;
      --c1darker: #5a4e3f;
      --c2: #c3dbd5;
      --c2RGB: 195 219 213;
      --c2light: hsl(165, 25%, 85%);
      --c2medium: hsl(165, 25%, 65%);
      --c2dark: #264039;
      --c3: #d33b0e;
      --c3medium: hsl(14, 40%, 60%);
      --c3mediumer: hsl(14, 40%, 40%);
      --c3light: #fcdacf;
      --c3dark: hsl(14, 88%, 25%);
      --c4: #007050;
      --c4dark: #006649;
      --c4RGB: 0 112 80;
      --c5: #9ac3c2;
      --c6: #de6a20;
      --c6dark: #d6651f;
      --c6darker: hsl(23, 75%, 25%);
      --c6medium: hsl(23, 75%, 42%);
      --c6light: hsl(23, 75%, 85%);
      --c7: #fbe39d;
      --c7dark: hsl(45, 92%, 75%);
      --c7light: hsl(45, 92%, 85%);
      --c8: #448088;
      --c8light2: hsl(187, 33%, 50%);
      --c8light: hsl(187, 33%, 60%);
      --c8dark: hsl(188, 33%, 32%);
      --c9: #1b4053;
      --c10: hsl(13, 0%, 33%);
      --c10light: hsl(13, 0%, 40%);
      --c10dark: hsl(13, 0%, 27%);
      --c11: hsl(348, 50%, 87%);
      --c11dark: hsl(348, 25%, 50%);
      --c11darker: hsl(348, 25%, 30%);

      --white: #fff;
      --whiteRGB: 255 255 255;
      --blackRGB: 0 0 0;

      --radius-xs: 0.5rem;
      --radius-s: 0.75rem;
      --radius-small: 1rem;
      --radius-default: 1.2rem;
      --radius-old: 1.5rem;
      --radius-xxl: 3.5rem;

      --shadow-default: -1.2rem 2rem 2.5rem -0.5rem rgb(0 0 0 / 0.1),
        -0.8rem 0.8rem 1rem -0.6rem rgb(0 0 0 / 0.1),
        -0.8rem -0.8rem 1rem -1rem rgb(0 0 0 / 0.2);
      --shadow-card: 0 0.2rem 0.3rem 0.1rem rgb(0 0 0 / 0.08);
      --shadow-button: 0 0.2rem 0.1rem rgb(var(--blackRGB) / 0.07);
      --shadow-button-strong: 0.1rem 0.2rem 0.1rem rgb(var(--blackRGB) / 0.15);

      --border-width: 2px;
    }

    /* Reset */
    * {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      box-sizing: border-box;
      font-family: var(--font-sans);
      font-size: var(--font-base);
      line-height: var(--line-base);
      z-index: -10;
      position: relative;
    }

    input,
    button,
    a {
      -webkit-tap-highlight-color: transparent;
    }

    a:where(:link, :visited) {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    ul,
    ol {
      list-style: none;
    }

    img {
      display: block;
    }

    h2 {
      font-size: var(--font-2);
      font-weight: 700;
      line-height: var(--line-very-tight);
      letter-spacing: var(--letter-spacing-2);
    }

    h3 {
      font-size: var(--font-3);
      font-weight: 700;
      line-height: var(--line-tight);
      letter-spacing: var(--letter-spacing-3);
    }

    h4 {
      font-size: var(--font-4);
      font-weight: 700;
      line-height: var(--line-tight);
      letter-spacing: var(--letter-spacing-4);
    }

    p {
      margin-bottom: var(--space-24);
    }

    /* Utility classes */
    .layout-grid {
      display: grid;
      grid-template-columns:
        1fr [start] minmax(min-content, var(--width-default))
        [end] 1fr;
    }

    .ignore-grid {
      display: contents;
    }

    .mid-col {
      grid-column: start / end;
    }

    .full-bleed {
      grid-column: 1 / -1;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: var(--line-normal);
      border-radius: var(--radius-xs);
      font-weight: 500;
      word-spacing: 0.2ex;
      overflow: hidden;
      position: relative;
      background: var(--white);
      color: var(--c8);
      transition: transform 0.2s, box-shadow 0.2s;
      box-shadow: var(--shadow-button);
    }

    .button__text {
      padding: 1.2ex 1.8ex 1.2ex 1.8ex;
    }

    .button__icon {
      color: currentColor;
    }

    .button__icon-fill {
      width: 3.2ex;
      height: 3.2ex;
      color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button__icon-container {
      background: var(--c5);
      height: 100%;
      width: 4.4ex;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
    }

    a.button:where(:hover) {
      transform: translateY(-0.4rem);
      box-shadow: 0 0.6rem 1rem rgb(var(--blackRGB) / 0.05),
        0 -0.2rem 1rem rgb(var(--blackRGB) / 0.03);
    }
    a.button:where(:active) {
      transform: translateY(0);
      box-shadow: 0 0.1rem 0.2rem rgb(var(--blackRGB) / 0.05);
    }

    .goto__icon {
      transition: transform 0.5s;
    }
    .goto:where(:hover, :active) .goto__icon {
      transform: translateX(30%);
    }
  </style>
</html>
