---
import type { LanguageSelectionType } from "../utils/types";
import { getLanguageUrls } from "../utils/utils.astro";

interface Props {
  title: string;
  description: string;
  language: LanguageSelectionType;
  children: any;
  image: string;
}

const { language, title, description, image } = Astro.props;

if (title.length > 55)
  throw new Error(`The title mustn't have more than 55 characters: ${title}`);
if (description.length > 150)
  throw new Error(
    `The description mustn't have more than 150 characters: ${description}`
  );

const url = getLanguageUrls();
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />

    <meta name="theme-color" content="#de6a20" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={url[language]} />
    <link rel="alternate" hreflang="en" href={url.en} />
    <link rel="alternate" hreflang="pl" href={url.pl} />
    <link rel="alternate" hreflang="x-default" href={url.en} />

    <title>{title}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url[language]} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url[language]} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <style is:inline>
      /* Custom properties */
      :root {
        --font-sans: "Poppins", sans-serif;

        --font-1: 11rem;
        --font-2: 7.58rem;
        --font-3: 5.68rem;
        --font-4: 4.26rem;
        --font-5: 3.11rem;
        --font-6: 2.59rem;
        --font-large: 2.16rem;
        --font-base: 1.8rem;
        --font-normal: 1.6rem;
        --font-small: 1.5rem;
        --font-xs: 1.3rem;
        --font-xxs: 1.2rem;

        --line-tightest: 1.1;
        --line-very-tight: 1.2;
        --line-tight: 1.25;
        --line-snug: 1.35;
        --line-snugish: 1.425;
        --line-normal: 1.5;
        --line-base: 1.618;

        --letter-spacing-1: -0.2rem;
        --letter-spacing-2: -0.15rem;
        --letter-spacing-3: -0.1rem;
        --letter-spacing-4: -0.05rem;
        --letter-spacing-5: -0.02rem;
        --letter-spacing-loose: 0.2rem;
        --letter-spacing-very-loose: 0.8rem;

        --space-1: 0.1rem;
        --space-2: 0.2rem;
        --space-4: 0.4rem;
        --space-8: 0.8rem;
        --space-12: 1.2rem;
        --space-16: 1.6rem;
        --space-24: 2.4rem;
        --space-32: 3.2rem;
        --space-48: 4.8rem;
        --space-64: 6.4rem;
        --space-80: 8rem;
        --space-96: 9.6rem;
        --space-128: 12.8rem;
        --space-144: 14.4rem;
        --space-192: 19.2rem;
        --space-256: 25.6rem;

        --side-padding: var(--space-32);
        --width-default: 160rem;

        --c1: #f3e1ca;
        --c1light: hsl(34, 63%, 95%);
        --c1dark: #83725d;
        --c1darker: #5a4e3f;
        --c2: #c3dbd5;
        --c2RGB: 195 219 213;
        --c2light: hsl(165, 25%, 85%);
        --c2medium: hsl(165, 25%, 65%);
        --c2dark: #264039;
        --c3: #d33b0e;
        --c3medium: hsl(14, 40%, 60%);
        --c3mediumer: hsl(14, 40%, 40%);
        --c3light: #fcdacf;
        --c3dark: #782208;
        --c4: #007050;
        --c4dark: #006649;
        --c4RGB: 0 112 80;
        --c5: #9ac3c2;
        --c6: #de6a20;
        --c6RGB: 222 106 32;
        --c6dark: #d6651f;
        --c6darker: hsl(23, 75%, 25%);
        --c6medium: hsl(23, 75%, 42%);
        --c6light: hsl(23, 75%, 85%);
        --c7: #fbe39d;
        --c7dark: hsl(45, 92%, 75%);
        --c7light: hsl(45, 92%, 85%);
        --c8: #448088;
        --c8light2: hsl(187, 33%, 50%);
        --c8light: hsl(187, 33%, 60%);
        --c8dark: #37656d;
        --c9: #1b4053;
        --c10: hsl(13, 0%, 33%);
        --c10light: hsl(13, 0%, 40%);
        --c10dark: hsl(13, 0%, 27%);
        --c11: hsl(348, 50%, 87%);
        --c11dark: hsl(348, 25%, 50%);
        --c11darker: hsl(348, 25%, 30%);

        --white: #fff;
        --whiteRGB: 255 255 255;
        --blackRGB: 0 0 0;

        --radius-xs: 0.5rem;
        --radius-s: 0.75rem;
        --radius-small: 1rem;
        --radius-default: 1.2rem;
        --radius-old: 1.5rem;
        --radius-xxl: 3.5rem;

        --shadow-default: -12px 20px 25px -5px rgb(0 0 0 / 0.1),
          -8px 8px 10px -6px rgb(0 0 0 / 0.1),
          -8px -8px 10px -10px rgb(0 0 0 / 0.2);
        --shadow-card: 0 2px 3px 1px rgb(0 0 0 / 0.08);
        --shadow-button: 0 2px 1px rgb(var(--blackRGB) / 0.07);
        --shadow-button-strong: 1px 2px 1px rgb(var(--blackRGB) / 0.15);

        --border-width: 2px;
      }

      /* Reset */
      * {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      html {
        font-size: 62.5%;
        scroll-behavior: smooth;

        background-color: var(--c2);

        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(var(--c2)),
          color-stop(20rem, var(--c1))
        );

        background: -o-linear-gradient(top, var(--c2), var(--c1) 20rem);

        background: linear-gradient(to bottom, var(--c2), var(--c1) 20rem);
      }

      body {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: var(--font-sans);
        font-size: var(--font-base);
        line-height: var(--line-base);
      }

      .body-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr [start]
          minmax(-webkit-min-content, var(--width-default)) [end] 1fr;
        -ms-grid-columns: 1fr [start] minmax(min-content, var(--width-default))
          [end] 1fr;
        grid-template-columns:
          1fr [start] minmax(-webkit-min-content, var(--width-default))
          [end] 1fr;
        grid-template-columns:
          1fr [start] minmax(min-content, var(--width-default))
          [end] 1fr;

        z-index: -99;
        position: relative;
      }

      input,
      button,
      a {
        -webkit-tap-highlight-color: transparent;
      }

      input:focus-visible,
      textarea:focus-visible,
      button:focus-visible,
      select:focus-visible,
      a:focus-visible,
      label:focus-visible {
        outline: none;
        -webkit-box-shadow: 0 0 0 1rem rgb(var(--c6RGB) / 0.2);
        box-shadow: 0 0 0 1rem rgb(var(--c6RGB) / 0.2);
        border-radius: 2px;
      }

      ::-moz-selection {
        background-color: rgb(var(--c6RGB) / 0.2);
      }

      ::selection {
        background-color: rgb(var(--c6RGB) / 0.2);
      }

      a:where(:link, :visited) {
        text-decoration: none;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }

      ul,
      ol {
        list-style: none;
      }

      img {
        display: block;
      }

      h2 {
        font-size: var(--font-2);
        font-weight: 700;
        line-height: var(--line-very-tight);
        letter-spacing: var(--letter-spacing-2);
      }

      h3 {
        font-size: var(--font-3);
        font-weight: 700;
        line-height: var(--line-tight);
        letter-spacing: var(--letter-spacing-3);
      }

      h4 {
        font-size: var(--font-4);
        font-weight: 700;
        line-height: var(--line-tight);
        letter-spacing: var(--letter-spacing-4);
      }

      p {
        margin-bottom: var(--space-24);
      }

      /* Utility classes */
      .layout-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr [start]
          minmax(-webkit-min-content, var(--width-default)) [end] 1fr;
        -ms-grid-columns: 1fr [start] minmax(min-content, var(--width-default))
          [end] 1fr;
        grid-template-columns:
          1fr [start] minmax(-webkit-min-content, var(--width-default))
          [end] 1fr;
        grid-template-columns:
          1fr [start] minmax(min-content, var(--width-default))
          [end] 1fr;
      }

      .ignore-grid {
        display: contents;
      }

      .mid-col {
        grid-column: start / end;
      }

      .full-bleed {
        grid-column: 1 / -1;
      }

      .button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        line-height: var(--line-normal);
        border-radius: var(--radius-xs);
        font-weight: 500;
        word-spacing: 0.2ex;
        overflow: hidden;
        position: relative;
        background: var(--white);
        color: var(--c8);
        -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
        transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
        -o-transition: transform 0.2s, box-shadow 0.2s;
        transition: transform 0.2s, box-shadow 0.2s;
        transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s,
          -webkit-box-shadow 0.2s;
        -webkit-box-shadow: var(--shadow-button);
        box-shadow: var(--shadow-button);
      }

      .button__text {
        padding: 1.2ex 1.6ex 1.2ex 1.6ex;
      }

      .button__icon {
        color: currentColor;
      }

      .button__icon-fill {
        width: 3.2ex;
        height: 3.2ex;
        color: var(--white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .button__icon-container {
        background: var(--c5);
        height: 100%;
        width: 4.4ex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        right: 0;
      }

      a.button:where(:hover) {
        -webkit-transform: translateY(-0.4rem);
        -ms-transform: translateY(-0.4rem);
        transform: translateY(-0.4rem);
        -webkit-box-shadow: 0 0.6rem 1rem rgb(var(--blackRGB) / 0.05),
          0 -0.2rem 1rem rgb(var(--blackRGB) / 0.03);
        box-shadow: 0 0.6rem 1rem rgb(var(--blackRGB) / 0.05),
          0 -0.2rem 1rem rgb(var(--blackRGB) / 0.03);
      }
      a.button:where(:active) {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: 0 0.1rem 0.2rem rgb(var(--blackRGB) / 0.05);
        box-shadow: 0 0.1rem 0.2rem rgb(var(--blackRGB) / 0.05);
      }

      .goto__icon {
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
        width: 4ex;
        aspect-ratio: 1 / 1;
      }
      .goto:where(:hover, :active) .goto__icon {
        -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
        transform: translateX(30%);
      }

      @media only screen and (max-width: 96em /* 1536px */) {
        html {
          font-size: 56.25%;
        }
      }

      @media only screen and (max-width: 62.5em /* 1000px */) {
        html {
          font-size: 50%;
        }
      }

      @media only screen and (max-width: 56em /* 896px */) {
        :root {
          --side-padding: var(--space-24);
        }
      }

      @media only screen and (max-width: 51.75em /* 828px */) {
        html {
          font-size: 43.25%;
        }
      }
    </style>
  </head>

  <body class="body-container">
    <slot />
  </body>
</html>
